html { 
    background-image: linear-gradient(#0065FD, #002E73); 
   /* background-image: linear-gradient(#0065FD, #000000); */
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
font-family: 'pusabregular', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}

.pusab {
    font-family: 'pusabregular', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}

.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

* {
  box-sizing: border-box;
}

.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
    font-family: 'Assistant';font-size: 22px;
}

div.scroll { 
                margin: 4px, 4px; 
                padding:10px; 
                width: 100%; 
                height: 70%; 
                overflow-x: hidden; 
                overflow-y: auto; 
                text-align:justify; 
                background-color: #a1582d;
                font-family: 'pusabregular', Arial, sans-serif;
                font-weight:normal;
                font-style:normal;
}

@font-face {
    font-family: 'pusabregular';
    src: url('../assets/pusab___-webfont.eot');
    src: url('../assets/pusab___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assetspusab___-webfont.woff2') format('woff2'),
         url('../assetspusab___-webfont.woff') format('woff'),
         url('../assets/pusab___-webfont.ttf') format('truetype'),
         url('../assets/pusab___-webfont.svg#pusabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.back {
    position: absolute;
    top: 2%;
    left: 1%;
    width: 4%;
}

.account {
    position: absolute;
    left: 1%;
    width: 4%;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: #555555;
  margin: auto;
  padding: 5%; 
  border: 3px solid #b8b7ba;
  width: 80%;
  color: white;
  border-radius: 10px;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  width: 40px;
  position: absolute;
  top: 13.75%;
  left: 2%;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.weekly {
background: #3a3a3a;
padding: 2%;
border: 2px solid #919191;
border-radius: 5px;
}
.centerInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.centerCrown {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
