
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.sidenav button:hover {
  color: #f1f1f1;
} 

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



div.scroll { 
                margin: 4px, 4px; 
                padding: 4px; 
               /* width: 300px; */
                overflow: auto; 
                white-space: nowrap; 
            } 

iframe {
border-radius: 25px;
}



.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #000000;
}

.button1:hover {
  background-color: #0e0029;
  color: white;
}




a:link, a:visited {
  border-style: solid;
  border-width: 2px;
  border-color: #171759; /* Green */
  background-color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

a:hover, a:active {
  background-color: black;
  color: white;
}

.border {
  border-style: solid;
  border-width: 4px;
  border-color: #ebebeb;
  background-color: white;
  margin: 4px 2px;
  padding: 16px 32px;
}
