.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
  
.subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  }

.beginner {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
  /* width: 200px; */
  height: 150px; 
  box-shadow:20px 20px 50px grey;  
}
  
  
body {
    font-family: 'Armata';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


html { 
  background: url(../assets/Background2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
