.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
)
  
.subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  
body {
    font-family: 'Armata';font-size: 22px;
}
