.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
  
.subtitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
  
body {
    font-family: 'Armata';
}


html { 
  background: url(../assets/Pastel.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
