html {
    background-image: linear-gradient(#000000, #000000); 
    /* background-color: black; */
    color: white;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
/* font-family: 'pusabregular', Arial, sans-serif; */
font-weight:normal;
font-style:normal;
}

.grey {
    color: lightgrey;
}
.emoji {
font-size: 60px;
color: lightgrey;
}
     
.black {
  color: black;
}


.pusab {
    font-family: 'pusabregular', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}
.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.button {
  background-color: #ffffff;
  border: 1px solid #b5b5b5;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 25px;
    color: white;
    text-shadow: -1px 1px 2px #000,
                  1px 1px 2px #000,
                  1px -1px 0 #000,

                  -1px -1px 0 #000;
     font-family: 'pusabregular', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}
.changelog {
    background-color: white;
    border: 2px solid #b5b5b5;
    border-radius: 5px;
}
.button2 {
  background-color: #ffffff;
  border: 1px solid #b5b5b5;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
    color: white;
    text-shadow: -1px 1px 2px #000,
                  1px 1px 2px #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
     font-family: 'pusabregular', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}
.account {
    position: absolute;
    left: 1%;
    width: 4%;
    top: 0%;
}
.login {
    position: absolute;
    left: 1%;
    top: 6%;
}
.loginDesc {
    position: absolute;
    left: 1%;
    top: 9%;
}
/* MODAL */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
 
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 15px;
}
/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
}
button:hover {
  opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
    width: 100%; /* Full width */
 
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #190000;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom
and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
}
.close:hover,
.close:focus {
color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
.cancelbtn {
     width: 100%;
  }
}
      body {
color: white;
   /* text-shadow: -1px 1px 2px #000,
                  1px 1px 2px #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
      font-family: 'pusabregular', Arial, sans-serif; */
 font-family: 'Russo One';font-size: 22px;

font-weight:normal;
font-style:normal;
                  }
.russo {
  font-family: 'Russo One';font-size: 22px;
} table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
 tr:nth-child(odd) {
  background-color: #ffffff;
 }
      li:nth-child(even) {
  background-color: #ffffff;
}



li {
        border: 1px solid #b5b5b5
      }
.shadow {
color: white;
    text-shadow: -1px 1px 2px #000,
                  1px 1px 2px #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
  font-family: 'pusabregular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
} 
.heading {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.headingDesc {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
  background-color: #000000;
}

.bodyDesc {
  border: 1px solid #0000ff;
  text-align: center;
  padding: 8px;
  background-color: #0000ff;
}

 .headingList {
li:nth-child(odd) {
   background-color: #dddddd; 
}
.headingBlah {
  background-color: blue;
  border: 1px solid red;
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.noOutline {
  color: rgba(0, 0, 0, 0);
    text-shadow: -1px 1px 2px #000,
                  1px 1px 2px #000,
1px -1px 0 #000,
-1px -1px 0 #000; } 
.invisibleTable {
  background-color: rgba(0, 0, 0, 0);
}
     .modDesc {
border: 1px solid #000000;
text-align: center;
background-color: #000000;
margin-left: auto;
margin-right: auto;
} 
.settingTable {
  background-color: #190000;
  border: 1px solid #190000;
  color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
