div.box {
  background-color: #a1582d;
  width: 800px;
  border: 15px solid #a1582d;
  padding: 25px;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.saved {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%
  position: relative;
  top: 300px;
  z-index: 1;
  /* height: 25%; */
}

