/* CSS HEX */
:root {
    --snow: #fbf5f3ff;
    --gainsboro: #e0e0e0ff;
    --phthalo-blue: #020887ff;
    --blue-pigment: #38369aff;
    --charleston-green: #162327ff;
    }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .ach {
    background: var(--charleston-green);
    display: block;
    position: fixed;
    bottom: -5em;
    left: 50%;
    border-radius: 25px;
    margin-left: -175px;
    width: 350px;
    height: 65px;
    color: var(--snow);
    font-size: 16px;
    padding: 0 1.2em 0 0;
  }
  
  .ach .icon {
    float: left;
    font-size: 2.2em;
    top: 10px;
    width: 65px;
    padding: 0.1em 0 0;
    text-align: center;
  }
  
  .ach .text_wrap {
    position: absolute;
    left: 65px;
    width: 250px;
    top: 0.7em;
    overflow: hidden;
  }
  
  .ach .title {
    font-size: 0.9em;
    width: 260px;
    margin: 0 0 -0.2em;
    padding: 0;
  }
  
  .ach .detail {
    font-size: 0.7em;
    width: 260px;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
  }
  
  .ach {
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
  }
  
  @keyframes ach_in_anim {
    0% {
      bottom: -5em;
      width: 65px;
      margin-left: -32.5px;
      border-radius: 50%;
    }
    15% {
      bottom: 2.2em;
      width: 65px;
      margin-left: -32.5px;
    }
    25% {
      bottom: 1em;
      width: 65px;
      margin-left: -32.5px;
    }
    75% {
      bottom: 1em;
      width: 65px;
      margin-left: -32.5px;
    }
    85% {
      bottom: 1em;
      width: 65px;
      margin-left: -32.5px;
      border-radius: 50%;
    }
    92% {
      bottom: 1em;
      width: 380px;
      margin-left: -190px;
      border-radius: 0;
    }
    100% {
      bottom: 1em;
      width: 350px;
      margin-left: -175px;
      border-radius: 0;
    }
  }
  
  @keyframes ach_current {
    0% {
      bottom: 1em;
      width: 350px;
      margin-left: -175px;
      border-radius: 25px;
    }
    100% {
      bottom: 1em;
      width: 350px;
      margin-left: -175px;
      border-radius: 25px;
    }
  }
  
  @keyframes ach_out_anim {
    0% {
      bottom: 1em;
      width: 350px;
      margin-left: -175px;
      border-radius: 50%;
    }
    16% {
      bottom: 1em;
      width: 65px;
      margin-left: -32.5px;
      border-radius: 50%;
    }
    20% {
      bottom: 1em;
      width: 50px;
      margin-left: -25px;
    }
    34% {
      bottom: 1em;
      width: 65px;
      margin-left: -32.5px;
    }
    70% {
      bottom: 1em;
      width: 65px;
      margin-left: -32.5px;
    }
    100% {
      bottom: -5em;
      width: 65px;
      margin-left: -32.5px;
      border-radius: 50%;
    }
  }
  
  .achieved {
    animation: ach_in_anim 1.4s, ach_current 3s, ach_out_anim 0.8s;
    animation-delay: 0s, 1.4s, 4.4s;
  }
  
  @keyframes i_in_anim {
    0% {
      transform: scale(0);
    }
    45% {
      transform: scale(0)
    }
    46% {
      transform: scale(0.4)
    }
    50% {
      transform: scale(1);
    }
    55% {
      transform: scale(1.2);
    }
    60% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes i_current {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes i_out_anim {
    0% {
      transform: scale(1);
    }
    46% {
      transform: scale(1);
    }
    47% {
      transform: scale(1.2);
    }
    56% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.4)
    }
    65% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  .achieved .icon i {
    animation: i_in_anim 1.4s, i_current 3s, i_out_anim 0.8s;
    animation-delay: 0s, 1.4s, 4.4s;
  }
  
  @keyframes text_in_anim {
    0% {
      width: 0;
    }
    85% {
      width: 0;
    }
    100% {
      width: 260px;
    }
  }
  
  @keyframes text_out_anim {
    0% {
      width: 260px;
    }
    12% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
  
  .achieved .text_wrap {
    animation: text_in_anim 1.4s, text_out_anim 0.8s;
    animation-delay: 0s, 4.4s;
  }
  
  
  .material-icons {
    top: 5px;
    font-size: 50px;
    text-align: center;
    margin: auto;
  }