@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
body {
  background: #fdfdfd;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}
main {
  /*max-width: 900px; 
  margin: auto; */
  padding: 0.5rem;
  text-align: center;
}

section {
  background: #ECECF0;
  border-radius: 25px;
  padding: 2%;
  width: 90%;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}



nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 25px 20px;
  box-shadow: 0px 5px 40px rgba(0,0,0,0.8);
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.nav-text {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  display: none;
  transition: all 0.3s ease;
}



.material-symbols-rounded {
  display: inline;
  transition: color .3s;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* */

.nav-item.active {
  flex-grow: 1.5;
  border-radius: 30px;
  background: #eee;
  justify-content: flex-start;
}

.nav-item.active > .nav-text {
  display: inline-block;
}

.nav-item.active > .material-symbols-rounded.recruit-icon {
  color: #5a35b5;
}

.material-symbols-rounded.recruit-icon ~ .nav-text {
  color: #5a35b5;
}

.nav-item.active > .material-symbols-rounded.upgrade-icon {
  color: #c9329a;
}

.material-symbols-rounded.upgrade-icon ~ .nav-text {
  color: #c9329a;
}

.nav-item.active > .material-symbols-rounded.host-icon {
  color: #e5a023;
}

.material-symbols-rounded.host-icon ~ .nav-text {
  color: #e5a023;
}

.nav-item.active > .material-symbols-rounded.band-icon {
  color: #a5d6a7;
}

.material-symbols-rounded.band-icon ~ .nav-text {
  color: #a5d6a7;
}


.nav-item.active > .material-symbols-rounded.settings-icon {
  color: #0091a9;
}

.material-symbols-rounded.settings-icon ~ .nav-text {
  color: #0091a9;
}





#scoutResults {
  width: 90%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  background-color: lightslategray;
  border-radius: 50px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}




#bandMembers {
  border-collapse: collapse;
  width: 100%;
}

#bandMembers td, #bandMembers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bandMembers tr:nth-child(even){background-color: #f2f2f2;}

#bandMembers tr:hover {background-color: #ddd;}

#bandMembers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #66BB6A;
  color: white;
}


button.recruit-button{
  background: linear-gradient(to right, #845ee0 ,#5b35b8);
  background-color: #845ee0;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 0px #2D2D2D;
  margin: 10px;
 }

 button.recruit-button:hover{
  background: linear-gradient(to right,#9066f2 ,#6f41e0);
  background-color: #9066f2;
 }
 button.recruit-button:active{
  transform: scale(0.95);
 }






.spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#8ab5ff 94%,#0000) top/9px 9px no-repeat, conic-gradient(#0000 30%,#8ab5ff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container button {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container button {
      margin: auto;
      float: none;
      display: block;
  }
}

.card-button {
    background: #D19FFF;
    background-image: -webkit-linear-gradient(top, #D19FFF, #8F48E5);
    background-image: -moz-linear-gradient(top, #D19FFF, #8F48E5);
    background-image: -ms-linear-gradient(top, #D19FFF, #8F48E5);
    background-image: -o-linear-gradient(top, #D19FFF, #8F48E5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #8F48E5 1px;
 }
 
 .card-button:hover {
    border: solid #FFFFFF 1px;
    background: #EFDDFF;
    background-image: -webkit-linear-gradient(top, #EFDDFF, #CFA8E8);
    background-image: -moz-linear-gradient(top, #EFDDFF, #CFA8E8);
    background-image: -ms-linear-gradient(top, #EFDDFF, #CFA8E8);
    background-image: -o-linear-gradient(top, #EFDDFF, #CFA8E8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
 }