@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fdfdfd;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  
display: flex;
align-items: center;
justify-content: center;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

section {
  text-align: center;
}



nav {
  display: flex;
  flex-direction: row;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 25px 20px;
  box-shadow: 0px 5px 40px rgba(0,0,0,0.8);

  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.nav-text {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  display: none;
  transition: all 0.3s ease;
}



.material-symbols-rounded {
  display: inline;
  transition: color .3s;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* */

.nav-item.active {
  flex-grow: 3;
  border-radius: 30px;
  background: #eee;
  justify-content: flex-start;
}

.nav-item.active > .nav-text {
  display: inline-block;
}

.nav-item.active > .material-symbols-rounded.home-icon {
  color: #5a35b5;
}

.material-symbols-rounded.home-icon ~ .nav-text {
  color: #5a35b5;
}

.nav-item.active > .material-symbols-rounded.favorite-icon {
  color: #c9329a;
}

.material-symbols-rounded.favorite-icon ~ .nav-text {
  color: #c9329a;
}

.nav-item.active > .material-symbols-rounded.search-icon {
  color: #e5a023;
}

.material-symbols-rounded.search-icon ~ .nav-text {
  color: #e5a023;
}


.nav-item.active > .material-symbols-rounded.person-icon {
  color: #0091a9;
}

.material-symbols-rounded.person-icon ~ .nav-text {
  color: #0091a9;
}

