/* CSS HEX */
:root {
--snow: #fbf5f3ff;
--gainsboro: #e0e0e0ff;
--phthalo-blue: #020887ff;
--blue-pigment: #38369aff;
--charleston-green: #162327ff;
--box-shadows: #02098774;
}

html {
  height: 100%;
}
 
body {
  font-family: 'Alata';
  font-size: 22px; 
  color: var(--phthalo-blue);
  background-image: linear-gradient(135deg, var(--gainsboro) 16%, var(--phthalo-blue) 100%);
}

.smallButton {
  border-radius: 5px; 
  background-color: #dee3e0; 
  font-weight: bold; 
  font-size: 15px;
  height: 35px; 
  position: relative; 
  bottom: 5px; 
  margin-left: 3px; 
  color: black;
  text-align: center;
}
    
.statBox {
    float: left;
    text-align: center;
    width: 25%;
}

.researchBox {
    float: none; 
    background-color: var(--blue-pigment);
    margin: 2.5%; 
    border-radius: 15px; 
    padding: 1%;
    width: 30%;
    margin: 2%;
    height: 200px;
    box-shadow: var(--box-shadows) 0px 5px 15px;

}

.buildingBox {
    float: left;
    font-size: smaller;
    background-color: var(--blue-pigment);
    width: 44%;
    margin: 2%;
    height: 200px;
    border-radius: 15px; 
    box-shadow: var(--box-shadows) 0px 5px 15px;
    padding: 2%;

}

.findings {
  width: 40%;
  height: 200px;
  margin: 2%;
  background-color: var(--blue-pigment);
  float: left;
}

.achievements {
  width: 30%;
  height: 150px;
  margin: 3%;
  padding: 2%;
  border-radius: 25px;
  background-color: var(--blue-pigment);
  box-shadow: var(--box-shadows) 0px 7px 29px 0px;
  float: left;
}

.section {
  position: relative;
  color: white;
  padding-left: 1%; 
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
  background-color: var(--charleston-green);
  border-radius: 10px;
  font-family: 'Alata';
  font-size: 22px;
  color: var(--snow);
  width: 100px;
  box-shadow: var(--box-shadows) 0px 7px 29px 0px;
}
