@font-face {
    font-family: 'pusabregular';
    src: url('../CSS/pusab/PUSAB___-webfont.eot');
    src: url('../CSS/pusab/PUSAB___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../CSS/pusab/PUSAB___-webfont.woff') format('woff'),
         url('../CSS/pusab/PUSAB___-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

