/* 
** Layout, Text & Colors 
*/

/* https://codepen.io/hylobates-lar/pen/qBbQeON */

/* body {
    background: #150f21;
    font-size: 18px;
  }
  */
  p {
    line-height: 1.5;
  }
  
  .container {
    max-width: 950px;
    margin: 0 auto;
  }
  
  /* Cards */
  .card-column {
    width: 50%;
    float: left;
    padding: 4%;
    box-sizing: border-box;
  }

  
  .column-1 {
    padding-top: 100px;
  }
  
  .card {
    width: 92%;
    height: 500px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: white;
    cursor: pointer;
    margin-bottom: 60px;
    height: 200px;
  }
  
  .border {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;
  }
  
  .card h1 {
    position: absolute;
    top: 125;
    left: 100px;
    width: 90%;
  }
  
  .card > img {
    width: 20%;
    position: absolute;
    top: -6%;
    left: -6%;
  }
  
  .card-color-0 {
    background-image: url("button_1.png");
    border-radius: 200px 63px 63px 63px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: -5px -5px 20px 5px #9BB9FF; 
    box-shadow: -5px -5px 20px 5px #9BB9FF;
  }

  .centered-text-0 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translate(-50%, -50%);
  }
  
  .card-color-1 {
    background-image: url("button_2.png");
    border-radius: 63px 200px 63px 63px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 5px -5px 20px 5px #9BB9FF; 
    box-shadow: 5px -5px 20px 5px #9BB9FF;
    
  }

  .centered-text-1 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: -2.5%;
    transform: translate(-50%, -50%);
  }
  
  .card-color-2 {
    background-image: url("button_3.png");
    border-radius: 63px 63px 63px 200px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: -5px 5px 20px 5px #9BB9FF; 
    box-shadow: -5px 5px 20px 5px #9BB9FF;
  }

  .centered-text-2 {
    margin: 0;
    position: absolute;
    top: -5%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  
  .card-color-3 {
    background-image: url("button_4.png");
    border-radius: 63px 63px 200px 63px;
    border: 3px solid rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 5px 5px 20px 5px #9BB9FF; 
    box-shadow: 5px 5px 20px 5px #9BB9FF;
  }

  .centered-text-3 {
    margin: 0;
    position: absolute;
    top: -5%;
    left: -12.5%;
    transform: translate(-50%, -50%);
  }

  
.card-center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: maroon;
  width: 250px;
  height: 300px;
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
  border: 3px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px -5px 20px 5px rgba(155,185,255,0); 
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px -5px 20px 5px rgba(155,185,255,0);
}

.card-center h1 {
  margin: 0;
  position: absolute;
  top: 40%;
  left: -12.5%;
  transform: translate(-50%, -50%);
}

  /* The cover (expanding background) */
  .cover {
    position: fixed;
    z-index: 100;
    transform-origin: 50% 50%;
  }
  
  /* The open page content */
  .open-content {
    width: 100%;
    z-index: 110;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
 /* .open-content .text h1, .open-content .text p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  } */

  .open-content-group {
    background: #fff;
    padding: 2%;
    height: 500px;
    width: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  
  .close-content {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
  }
  
  .close-content span {
    background: rgb(236, 236, 236);
    width: 30px;
    height: 6px;
    display: block;
    position: absolute;
    top: 14px;
    right: 10px;
  }
  
  .x-1 {
    transform: rotate(45deg);
  }
  
  .x-2 {
    transform: rotate(-45deg);
  }
  
  /* 
  ** Transitions
  */
  
  .card {
    transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
  }
  
  .border {
    transition: opacity 200ms linear, transform 200ms ease-out;
  }
  
  .card img {
    transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
  }
  
  .card h1 {
    transform: translate3d(20%, 0px, 0px);  
    transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
  }
  
  /* Clicked card */
  .card.clicked img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
  }
  
  .card.clicked .border {
    opacity: 0;
    transform: scale(1.3);
  }
  
  .card.out, .card.out img {
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
  }
  
  .card.out h1, .card.clicked h1 {
    transform: translate3d(20%, -40px, 0px);
    opacity: 0;
  }
  

  .cover {
    transition: transform 300ms ease-in-out;
  }
  
  .open-content {
    transition: opacity 200ms linear 0ms;
  }
  
  .open-content.open {
    opacity: 1;
    pointer-events: all;
    transition-delay: 1000ms;
  }
  
  /* 
  ** Media Queries
  */
  
  @media screen and (max-width: 600px) {
    .card-column {
      width: 90%;
    }
    
    .column-1 {
      padding-top: 0px;
    }
    
    .open-content img {
      margin-top: 40px;
    }
  }




  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin: 15px;
  }
  
  .alert.success {background-color: #04AA6D;}
  .alert.info {background-color: #2196F3;}
  .alert.warning {background-color: #ff9800;}
  
  .alert_closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .alert_closebtn:hover {
    color: black;
  }
  
  #alerts {
  position: absolute;
  top: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  }




