#main {
    margin: 1%;
    padding: 1%;
    text-align: center;
    background-color: lightgray;
} 

.section {
    margin-left: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 150px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .section {
    background-color: #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    height: 50%;
    
  }