body {
  /*overflow: hidden; */
  font-family: 'Rosario';
  font-size: 22px;
  animation-name: backgroundColorPalette;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.rosario {
  font-family: 'Rosario';
  font-size: 22px;
}

th, tr {
  margin: 10px;
  padding: 2px;
}

.player-card {
  background-color: transparent;
  width: 200px;
  height: 240px;
  perspective: 1000px;
  float: left;
  margin: 15px;
}

.player-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.player-card:hover .player-card-inner {
  transform: rotateY(180deg);
}

.player-card-front, .player-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.player-card-front {
  background-color: #bbb;
  color: black;
  height: 240px;
  width: 100%;
}

.player-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  height: 240px;
  font-size: 12px;
  line-height: 1;
}


.player-card-back button {
  position: relative;
  display: inline-block;
  padding: 6px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}

button:hover {
  opacity: 0.7;
}


#scoutResults {
  width: 90%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
  background-color: lightslategray;
  border-radius: 50px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}




#bandMembers {
  border-collapse: collapse;
  width: 100%;
}

#bandMembers td, #bandMembers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bandMembers tr:nth-child(even){background-color: #f2f2f2;}

#bandMembers tr:hover {background-color: #ddd;}

#bandMembers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


button.recruit-button{
  background: linear-gradient(to right,#19ca4a ,#0a8020);
  background-color: #19ca4a;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 0px #2D2D2D;
  margin: 10px;
 }

 button.recruit-button:hover{
  background: linear-gradient(to right,#54d06b ,#519256);
  background-color: #54d06b;
 }
 button.recruit-button:active{
  transform: scale(0.95);
 }



 .spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#8ab5ff 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%,#8ab5ff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}



.bottom-nav {
  margin-left: -10px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 101%;
  z-index: 300;
}

.bottom-nav h3 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  margin: 1px;
}

.bottom-nav h3:hover {
  background: #f1f1f1;
  color: black;
}